{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- PERSONAL CSS STYLES -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    
    <title>Gero Zayas Portfolio</title>
  </head>

  <body>
    <div class="container">
      {% include 'home/messages.html' %} 
      {% include "home/header.html" %} 
      {%block home%} {% endblock home%} 
      {% block about %} {% endblock about %} 
      {%block blog %} {% endblock blog %} 
      {% block portfolio %} {% endblock portfolio%}
      {% block contact %} {% endblock contact%}
      {% block project_detail_content%} {% endblock project_detail_content%} 
      {% include "home/footer.html" %}
    </div>

    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
