{% extends './base.html' %}

{% load static %}

{% block contact %}

<!-- <section>
    <div class="innerPageBannerCol">
        <div class="container">
            <div class="row g-4 g-md-3  align-items-center">
                <div class="col-md-6">
                    <div class="bannerContent">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<section>
    <div class="center">
        <h1 style="text-align: center;">Let's get in contact! &#129309</h1>
        <hr>
        <label style="margin-top: 15px;">&#9993 <b>Mail: </b>gerozayas@gmail.com</label><br>
        <label style="margin-top: 15px;"><b> &#128222 WhatsApp / Phone: </b>+34 684 21 74 45</label><br>
        <label style="margin-top: 15px;"><b> &#127760 LinkedIn: </b><a href="https://www.linkedin.com/in/gerardo-zayas-alvarez/">https://www.linkedin.com/in/gerardo-zayas-alvarez/</a></label>
        <hr>

        {% comment %} I am deactivating this Feb 27, 2024, because I have made the change from online postgresql
        to local sqlite3, so this isn dynamic anymore, as it wasn't needed {% endcomment %}
        {% comment %} <h5>👋 Or leave me a message and I'll contact you as soon as possible:</h5>
        <form id="contactForm" method="POST" action="/contact/">
            {% csrf_token %}
            <label style="margin-top: 15px;" for="name"><b>Name</b></label>
            {{form.name}}

            <label style="margin-top: 15px;" for="email"><b>Email</b></label>
            {{form.email}}

            <label style="margin-top: 15px;" for="subject"><b>Message</b></label>
            {{form.message}}

            <input style="margin-top: 15px;" class='btn btn-outline-dark border-0 cool-shadow project-btn contact-btn' type="submit"
                value="Submit">
        </form> {% endcomment %}

    </div>
</section>

{% endblock %}