{% load static %}

<footer>
  <div class="container">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/gerardo-zayas-alvarez/" target="_blank" title="LinkedIn">
        <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn">
      </a>
      <a href="https://twitter.com/GrardEnrikke" target="_blank" title="Twitter">
        <img src="{% static 'images/twitter.png' %}" alt="Twitter">
      </a>
      <a href="https://github.com/gerozayas" target="_blank" title="GitHub">
        <img src="{% static 'images/github.png' %}" alt="GitHub">
      </a>
    </div>
    
    <div class="copyright">
      <p>
        © <span id="current-year"></span> Designed and coded with ❤️ by Gero Zayas. 
        <a href="https://github.com/GeroZayas/gerozayas_portfolio_bravo" target="_blank">Source code on GitHub</a>.
      </p>
    </div>
  </div>
</footer>

<script>
  document.getElementById('current-year').textContent = new Date().getFullYear();
</script>