{% load static %}

<header>
  <nav>
    <div class="container">
      <div class="nav-content">
        <a href="{% url 'home.home' %}" class="nav-brand">
          <img src="{% static 'images/profile-pic.png' %}" alt="Gero Zayas" class="profile-img">
          <span>Gero Zayas</span>
        </a>
        
        <ul class="nav-menu">
          <li><a href="{% url 'home.home' %}">Home</a></li>
          <li><a href="{% url 'portfolio:portfolio_index' %}">Portfolio</a></li>
          <li><a href="{% url 'blog_index' %}">Blog</a></li>
          <li><a href="{% url 'home.about' %}">About</a></li>
          <li><a href="{% url 'home.contact' %}">Contact</a></li>
        </ul>
        
        <div class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </nav>
</header>